.media {
  padding-bottom: 0;
}
.media-slide {
  padding: 0 15px;
  &__container {
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }
    img {
      position: absolute;
      width: 100%;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

