.about.block(id='about')
  .container
    h3.title Описание
    .about__container.row
      .about-block.col-xl-12
        .about-block__container
          .about-block__title ОСНОВНЫЕ ХАРАКТЕРИСТИКИ
          .about-block__content.row
            .about-block__section.col-xl-6.col-sm-12
              span.about-block__sub-title г. Москва, ул. Туристская, д.33, кв.1
              table.about-block__table
                tr
                  td Комнат:
                  td 2-комн. кв.
                tr
                  td Площадь:
                  td 53,4 / 32 / 9.2м²
                tr
                  td Этаж:
                  td 7/9
                tr
                  td Вид дома:
                  td Вторичка
                tr
                  td Тип дома:
                  td Панельный
            .about-block__section.col-xl-6.col-sm-12
              .about-block__price
                .about-block__price-title Общая стоимость
                .about-block__price-value
                  span 10 500 000 
                  | руб.
            .about-block__section.about-block__section_text.col-xl-12
              span.about-block__sub-title Описание:
              p.about-block__text Теплая светлая благоустроенная квартира в районе с отличной инфраструктурой. В квартире сделан качественный ремонт. Теплые полы на кухне и в санузле.Чистый подъезд, приличные соседи. Прекрасная транспортная доступность до метро Планерная 10 минут пешком. Рядом школа с углубленным изучением английского языка , через дорогу школа с углубленным изучением французского языка, четыре детских сада в пешей доступности, спортивная школа, бассейн, Дом творчества. Квартира в собственности более 10 лет, всё это время 1 собственник.
      .about-block.col-xl-6.col-sm-12
        .about-block__container
          .about-block__title ДОМ
          .about-block__content
            table.about-block__table
              tr
                td.about-block__col.about-block__col_1 Вид дома:
                td.about-block__col Вторичка
              tr
                td.about-block__col.about-block__col_2 Материал стен:
                td.about-block__col Панельный
              tr
                td.about-block__col.about-block__col_3 Особенности объекта:
                td.about-block__col Лифт пассажирский, Лифт грузовой, Мусоропровод.
      .about-block.col-xl-6.col-sm-12
        .about-block__container
          .about-block__title КВАРТИРА
          .about-block__content
            table.about-block__table
              tr
                td.about-block__col.about-block__col_4 Площадь:
                td.about-block__col Общая: 53,4 м2, Жилая: 32 м2, Кухня: 9,2 м2
              tr
                td.about-block__col.about-block__col_5 Лоджия:
                td.about-block__col 1
              tr
                td.about-block__col.about-block__col_6 Санузел:
                td.about-block__col Раздельный
              tr
                td.about-block__col.about-block__col_7 Окна:
                td.about-block__col Двор
              tr
                td.about-block__col.about-block__col_8 Состояние:
                td.about-block__col Евроремонт
              tr
                td.about-block__col.about-block__col_9 Дополнительно:
                td.about-block__col Телефон, Интернет, Мебель (на кухне)