footer.footer
  .container
    .footer__container
      .footer__section.footer__section_contacts
        a(href="tel:79267433018").footer__contact
          i.fas.fa-mobile-alt
          | +7 (926) 743-30-18
      .footer__section.footer__section_logo
        .logo.footer__logo
          a(href="#").logo__link
            h1.logo__title
              strong Агент по недвижимости 
              span Спивачук Дмитрий
      .footer__section.footer__section_contacts
        a(href="mailto:info@eslidoma.net").footer__contact
          i.far.fa-envelope
          | info@eslidoma.net