header.header
  .container
    .header__container
      .header__section
        .logo
          a(href="#").logo__link
            h1.logo__title
              strong Агент по недвижимости 
              span Спивачук Дмитрий
        .socials
          ul.socials__list
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-vk
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-facebook-f
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-instagram
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-telegram-plane
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-whatsapp
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-viber
            li.socials__item
              a(href="#").socials__link
                i.fab.fa-skype
      .header__section.header__section_contacts
        a(href="tel:+79267433018").header__phone
          i.fas.fa-mobile-alt
          | +7 (926) 743-30-18
        a(href="#popup1").popup-link.button.button_style1.header__button Обратный звонок
        