.home.background
  .background__image.lazy(data-src='img/backgrounds/bg-home-compressed.jpg')
  .container
    .home__container.row
      .home__section.home__section_info.col-xl-6.col-md-7.col-sm-12
        h2.home__title Продам 2-комн. кв.
        .home__adress г.Москва, ул.Туристская, д.33 кв.1
        .home__price 
          span 10 500 000 
          | руб. общ. ст.
        a(href="#").button.button_style2.home__button Скачать презентацию
      .home__section.col-xl-6.col-md-5.col-sm-12
        .home__images
          .home__image
            img(data-src="img/images/image1.jpg", alt="").lazy
          .home__image
            img(data-src="img/images/image2.jpg", alt="").lazy
      a(href="#about").scroll-bottom.scroll-link