.media.block
  .container.container_slider
    h3.title Медиа
    .media__container
      .slider
        button.slider__prev
          i.fas.fa-chevron-left
        button.slider__next
          i.fas.fa-chevron-right
        .slider__container
          .media__slider
            .media-slide
              .media-slide__container
                img(data-src="img/images/image3.jpg", alt="").lazy
            .media-slide
              .media-slide__container
                img(data-src="img/images/image4.jpg", alt="").lazy
            .media-slide
              .media-slide__container
                img(data-src="img/images/image3.jpg", alt="").lazy
            .media-slide
              .media-slide__container
                img(data-src="img/images/image4.jpg", alt="").lazy